<div class="row">
    <div class="col-md-4">
      <div class="box box-widget widget-user">
        <div class="widget-user-header bg-aqua">
          <h3 class="widget-user-username">Alessandro Garofalo</h3>
          
        </div>
        <div class="widget-user-image">
          <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User Avatar">
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">3,200</h5>
                <span class="description-text">Vittorie</span>
              </div>
            </div>
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">13,000</h5>
                <span class="description-text">Portafoglio</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">35</h5>
                <span class="description-text">Scommesse effettuate</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="box box-widget widget-user">
        <div class="widget-user-header bg-red">
          <h3 class="widget-user-username">Paolo Mascolo</h3>
          
        </div>
        <div class="widget-user-image">
          <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User Avatar">
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">3</h5>
                <span class="description-text">Vittorie</span>
              </div>
            </div>
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">130</h5>
                <span class="description-text">Portafoglio</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">35</h5>
                <span class="description-text">Scommesse</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="box box-widget widget-user">
        <div class="widget-user-header bg-yellow">
          <h3 class="widget-user-username">Lorenzo Tonetti</h3>
        </div>
        <div class="widget-user-image">
          <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User Avatar">
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">34,200</h5>
                <span class="description-text">Vittorie</span>
              </div>
            </div>
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">13,000</h5>
                <span class="description-text">Portafoglio</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">35</h5>
                <span class="description-text">Scomesse</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
</div>