<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container-fluid">
    
      
    <div class="col-md-7">
      <img src="../../assets/MatchForecastlogo-02.svg" alt="logo">
    </div>
    
    <div class="col-md-5">
      <form #f="ngForm">

        <div class="form-group">
          <input class="form-control" type="text" id="form1" name="username" placeholder="Username" ngModel>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="form2" name="password" placeholder="Password" ngModel>
        </div>
        
        <p>
      
        <div class="contenitore">

        <div class="social">
          <a class="fa fa-twitter" id="twitter" title="" target="_blank" href="https://twitter.com/"></a>
          <a class="fa fa-facebook" title="" target="_blank" href="https://www.facebook.com"></a>
          <a class="fa fa-linkedin" title="" target="_blank" href="https://www.linkedin.com"></a>
          <a class="fa fa-instagram" title="" target="_blank" href="https://www.instagram.com"></a>
        </div>
        </div>  
       
        <div class="cerchio">
           <div class="ddd">
          <button type="submit" (click)="login(f)"  class="cerchio-control" id="logon">Login</button>
          <button type="submit" id="button-reg">Register</button>
        </div>          
        </div>   
      </form>
    </div>
</div>