<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container-fluid">
    
      
    <div>
      <img src="../../../assets/MatchForecast_logowhite-02 (1).svg" id="img"></div>
      
   
      <td>
        <input placeholder="BUDGET" [(ngModel)]="investimentotoinsert.budget">
      </td>
      <td>
         <input  placeholder="DURATION" [(ngModel)]="investimentotoinsert.durata">
        </td>
        
        <td>
          <input placeholder="RISK LEVEL" [(ngModel)]="investimentotoinsert.rischio">
          </td>
         <!-- <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
               
              </div>
            </div>-->
       
        
    
        
       
        
      
      
      
        <div class="cerchio">
           <div class="ddd">
          <button  (click)="nv(investimentotoinsert)"  class="cerchio-control" id="logon">Forecast</button>
          
        </div>          
        </div>   
      
</div>