/* Main Layout */
html {
  scroll-behavior: smooth;
}
* {
	font-family: sans-serif;
}
div.text{
	clear:both;
	margin-top: 3%;
	margin-bottom: 3%;
}

.header {
	text-align: center;
	font-size: 800%;
	font-family: sans-serif;
	color: #ff8c00;
}

.main {
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	width: 90%;
	font-size: 12px;
	text-align: justify;
}

.footer {
	text-align: center;
	font-size: 70%;
	background-color: #ff8c00;
	color: #ff8c00;
	width: 100%;
	border-radius: 7px;
	position: relative;
	padding: 3px;
	clear:both;
	margin-top: 5%;
	margin-bottom: 1%;
}

/* headers */
h1 {
	position: center;
	text-align: center;
	size: 300%;
	font-family: comic-sans-ms;
	color: #000000;
}

h2 {
	font-family: sans-serif;
	color: #000000;
}

/*Login*/

.log{
	width:95%;
	z-index:-1;
	opacity:0.4;
	position:absolute;

	
}
.login{
	
	heigth:50%;
	width:20%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	margin-bottom:auto;
	z-index:1;
}

.login input {
	text-align: center;
	float: center;
	clear: both;
	width:90%;
	margin-left:5%;
	margin-right:5%;
}

.login label {
	float: center;
	clear: both;
	width:100%;
	text-align: center;
}

/* Anchors */
a {
	text-decoration: none;
}

.a {
	text-decoration: none;
}

a:link {
	color: #000000;
}

.a:link {
	color: #000000;
}

/* visited link */
a:visited {
	color: #000000;
}

.a:visited {
	color: #000000;
}

/*Tables*/
table {
	border-collapse: collapse;
	width: 30%;
	float:left;
	border-radius:4px;
    -moz-border-radius:4px;
}


th, td {
	text-align: center;
	font-size: xx-small;
	padding: 2px;
}

tr:nth-child(even) {
	background-color: #ff8c00;
}

th {
	background-color: #ff8c00;
	color: #ff8c00;
	
}

a:hover {
	color: #ff8c00;
}


/*Forms*/

select {
  width: 100%;
  padding: 14px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin: 8px 0;
}
select:hover {
  background-color:  #ff8040;
}

option{
width: 100%;
  background-color: #ffff;
  color: #000000;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
	
}




input {
  width: 80%;
  background-color: #ffff;
  color: #000000;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  float:right;
}

input:hover {
  background-color:  #ff8040;
}


res {
	float: left;
	width: 25%;
	margin-top: 3%;
	background-color: #ff8c00;
	border-radius: 7px;
	color: #ffffff;
	text-align:center;
}

form {
	width: 35%;
	border-radius: 7px;
	background-color: #f2f2f2;
	padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


button {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  background-color:  #ff8c00;
  border: none;
  color: white;
  padding: 3% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 130%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
  border-radius: 7px;
  width:80%;
}

button:hover {
  background-color:  #ff8040; 
  color: white;
}



/*IDs*/
#logout {
	float: right;
	color: #ffffff;
}

#floatleft {
	float:left;
}
#floatcenter {
	float:center;
}
#floatright {
	float:right;
}
#floattop {
	float:top;
}
#floatright {
	float:bottom;
}

/*Navigation bar*/
div.navbar {
	background: #ff8c00;
	overflow: hidden;
	position: sticky;
	width: 100%;
	top: 0;
	padding: 1px;
	z-index: 2;
	border-radius: 7px;
	position: -webkit-sticky; /* Safari */
}

div.navbar a {
	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 1% 2%;
	text-decoration: none;
	font-size: 17px;
	border-radius: 7px;
	background: #ff8c00;
}

div.navbar a:hover {
	background: #ff8040;
	color: #ffffff;
}

div.navbar a.active {
	background: #ff8040;
	color: #ffffff;
}

/*Images*/
.imgheader {
	position: center; z-index : -1;
	opacity: .9;
	z-index: -1; opacity : .9;
	width: 8%;
}

.inssqua{
	position: center; z-index : -1;
}

