<div class="row">
    <div class="prima">
        <div class="col-md-4 col-sm-6">
            <table>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Win</th>
                <th>Draw</th>
                <th>Lose</th>
                <tr *ngFor="let partita of partitas">
                        <td> 
                        {{partita.team1.nameTeam}}
                        </td>
    
                        <td>
                           {{partita.squadra.nameTeam}}
                            </td>
                            <td> 
                                   <button id="button" (click)=insert(schedinas)>{{partita.win}}</button>
                                    </td>
                
                                    <td>
                                       {{partita.draw}}
                                        </td>
                                        <td> 
                                                {{partita.lose}}
                                                </td>
                            
                                                
                   
                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="seconda">
        <div class="col-md-4 col-sm-6">
            <table>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="terza">
        <div class="col-md-4 col-sm-6">
            <table>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="schedina">
        
        <div class="col-md-4 col-sm-6">
            <table>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <tr *ngFor="let schedina of schedinas">
                    <td> 
                            <input [(ngModel)]="schedina.partita.team1">
                    </td>

                    <td><input [(ngModel)]="schedina.partita.squadra"></td>
                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
            </table>
        </div>
    
</div>
</div>
<br>
<div class="row">
    <div class="quarta">
        <div class="col-md-4 col-sm-6">
            <table>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="quinta">
        <div class="col-md-4 col-sm-6">
            <table>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="sesta">
        <div class="col-md-4 col-sm-6">
            <table>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <th>Prova1</th>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
                <tr>
                    <td>Prova1</td>


                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>

                </tr>
            </table>
        </div>
    </div>
</div>