.prima {
    margin-top: 20px;
    margin-left: 40px;
    width: 220px;
    height: 240px;
    border:2px solid gray;
}

.seconda {
    margin-top: 20px;
    margin-left: 40px;
    width: 220px;
    height: 240px;
    border:2px solid gray;
}
.schedina {
    margin-top: 20px;
    margin-left: 100px;
    width: 180px;
    height: 280px;
    border:2px solid gray;
}

.terza {
    margin-top: 20px;
    margin-left: 40px;
    width: 220px;
    height: 240px;
    border:2px solid gray;
}

.quarta {
    margin-top: 8px;
    margin-left: 40px;
    width: 220px;
    height: 240px;
    border:2px solid gray;
}

.quinta {
    margin-top: 8px;
    margin-left: 40px;
    width: 220px;
    height: 240px;
    border:2px solid gray;
}
.sesta {
    margin-top: 8px;
    margin-left: 40px;
    width: 220px;
    height: 240px;
    border:2px solid gray;
}