<div class="row">
    <div class="prima">
<div class="col-md-4 col-sm-6">
        <table>
                <th>Prova1</th>
                <th>Prova1</th><th>Prova1</th><th>Prova1</th>
               <tr>
                    <td>Prova1</td>
                    
                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>
            
                </tr>
            </table>
</div>
</div>
<div class="seconda">
        <div class="col-md-4 col-sm-6">
                <table>
                        <th>Prova1</th>
                        <th>Prova1</th><th>Prova1</th><th>Prova1</th>
                       <tr>
                            <td>Prova1</td>
                            
                            <td>Prova1</td>
                            <td>Prova1</td>
                            <td>Prova1</td>
                            <td>Prova1</td>
                    
                        </tr>
                    </table>
        </div>
        </div>
<div class="terza">
<div class="col-md-4 col-sm-6">
        <table>
                <th>Prova1</th><th>Prova1</th><th>Prova1</th><th>Prova1</th>
                <tr>
                    <td>Prova1</td>
                    
                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>
                    <td>Prova1</td>
            
                </tr>
            </table>
</div>
</div>
<div class="schedina">    
<div class="col-md-4 col-sm-6">
            <table>
                    <th>Prova1</th><th>Prova1</th><th>Prova1</th><th>Prova1</th>
                    <tr>
                        <td>Prova1</td>
                        
                        <td>Prova1</td>
                        <td>Prova1</td>
                        <td>Prova1</td>
                        <td>Prova1</td>
                
                    </tr>
                </table>
        </div>
    </div>
</div>
<br>
    <div class="row">
            <div class="quarta">   
        <div class="col-md-4 col-sm-6">
                    <table>
                            <th>Prova1</th><th>Prova1</th><th>Prova1</th><th>Prova1</th>
                            <tr>
                                <td>Prova1</td>
                                
                                <td>Prova1</td>
                                <td>Prova1</td>
                                <td>Prova1</td>
                                <td>Prova1</td>
                        
                            </tr>
                        </table>
            </div>
        </div>
        <div class="quinta">    
        <div class="col-md-4 col-sm-6">
                    <table>
                            <th>Prova1</th><th>Prova1</th><th>Prova1</th><th>Prova1</th>
                            <tr>
                                <td>Prova1</td>
                                
                                <td>Prova1</td>
                                <td>Prova1</td>
                                <td>Prova1</td>
                                <td>Prova1</td>
                        
                            </tr>
                        </table>
                </div>
        </div>
        <div class="sesta">       
        <div class="col-md-4 col-sm-6">
                        <table>
                                <th>Prova1</th><th>Prova1</th><th>Prova1</th><th>Prova1</th>
                                <tr>
                                    <td>Prova1</td>
                                    
                                    <td>Prova1</td>
                                    <td>Prova1</td>
                                    <td>Prova1</td>
                                    <td>Prova1</td>
                            
                                </tr>
                            </table>
                    </div>
                </div>
    </div>