<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="classifica">
      <div class="col-sm-8">
        <table>
      <th>POS</th>
      <th>Squadra</th>
      <th>G</th>
      <th>V</th>
      <th>P</th>
      <th>D</th>
      <th>TG</th>
      <th>GC</th>
      <th>Diff</th>
      <th>Points</th>      
      <th>FORM</th>
      
      
        </table>
      </div> 
      
    </div>
    <div class="bet"> 
    <div class="col-sm-4">col-sm-4
        <table>

        </table>
      </div>
    </div>
  </div> 
    <div class="row">
     
      <div class="col-sm">col-sm
        <table>

        </table>
      </div>
      <div class="col-sm">col-sm
        <table>

        </table>
      </div>
      <div class="col-sm">col-sm</div>
    </div>
  </div>
</div>